:root {

    --text-color: #fff;
    --padding-val: 1rem;
}

* {
    box-sizing: border-box;
}


.navbar {
    background-color: rgb(255, 0, 119);
    position: fixed;
    top: 0;
    left: 0;
    height: 13%;
    z-index: 1;
    width: 100%;
}

header {
    height: 100vh;
    color: yellowgreen;
    background: url("./BGimg.jpg") no-repeat center;

    /* background-image: url("./BGimg.jpg");
   background-repeat: no-repeat;
   background-position: center; */
    background-attachment: scroll;
    background-size: cover;
    color: var(--text-color);
    padding: var(--padding-val);
    filter: saturate(0);

    /* filter:opacity(0,1); */
    /*  */
}

header:hover {

    filter: saturate(1);
    /* filter:opacity(1); */
}

main {
    background-color: blue;
    color: var(--text-color);
    padding: var(--padding-val);

}

footer {
    background-color: red;
    color: var(--text-color);
    padding: var(--padding-val);

}

.row::after {
    content: "";
    clear: both;
    display: table;

}

.card-title {
    text-align: center;
}

.card {
    width: 32%;
    background-color: bisque;
    padding: var(--padding-val);
    margin: 1rem;
    color: black;
    float: left;

}

.parent {
    background-color: aqua;
    height: 20rem;
    position: relative;
}

.child {
    background-color: orange;
    width: 10rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card:hover {

    box-shadow: 0.2rem 0.2rem 0.8rem rgba(154, 7, 7, 0.5);
}

.tutorials {
    background-color: rgb(78, 48, 10);
    height: 80vh;
    display: flex;
}

.tutorial h1 {}

.tutorial {
    background-color: rgb(215, 102, 14);

    margin: 1rem;
    height: 20vh;
    width: 25%;

}